<div class="container">
    <div class="row">
        <div class="col-lg-3 bg-white">
            <nav class="nav flex-column align-items-start">
                <a class="nav-link" href="#">Electronic Devices</a>
                <a class="nav-link" href="#">Electronic Accessories</a>
                <a class="nav-link" href="#">TV & Home Appliances</a>
                <a class="nav-link" href="#">Health & Beauty</a>
                <a class="nav-link" href="#">Babies & Toys</a>
                <a class="nav-link" href="#">Groceries & Pets</a>
                <a class="nav-link" href="#">Home & Lifestyle</a>
                <a class="nav-link" href="#">Women's Fashion & Accessories</a>
                <a class="nav-link" href="#">Men's Fashion & Accessories</a>
                <a class="nav-link" href="#">Kid's Fashion & Accessories</a>
                <a class="nav-link" href="#">Sports & Travel</a>
                <a class="nav-link" href="#">Automotive & Motorcycles</a>
            </nav>
        </div>
        <div class="col-md-9">
            <!-- Slider main container -->
            <section class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="img/car1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="img/car2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="img/car3.jpg" alt=""></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </section>

        </div>
    </div>
</div>

<style>
    .nav-link {
        font-size: small;
        color: gray;
    }

    .nav-link:hover {
        color: orange;
        /* Màu chữ thay đổi khi di chuột qua */
    }

     .swiper-slide img {
        width: 100%; /* Hiển thị hình ảnh full width */
        height: 100%; /* Hiển thị hình ảnh full height */
        object-fit: cover; /* Đảm bảo hình ảnh không bị méo khi hiển thị */
    }
</style>

<script>
    const swiper = new Swiper('.swiper-container', {
        speed: 500,
        spaceBetween: 10,
        slidesPerView: 1,
        pagination: {
            el: ".swiper-pagination",
            type: 'bullets',
            clickable: true
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        }
    });
</script>